---
import { Image } from "astro:assets"
import Button from "../components/Button.astro";
import PlaceHolderImage from '/public/images/placeholder/Image Not Found.png'
import ArtDisplay from "../components/ArtDisplay.astro";

import {getPublicImages} from '@/lib/util/helper'
import type { ImageRow } from "@/lib/util/type";

const firstRow: ImageRow = {direction: 'right', src: getPublicImages(0, 10)};
const secondRow: ImageRow = {direction: 'left', src: getPublicImages(10, 10)};
const thirdRow: ImageRow = {direction: 'right', src: getPublicImages(20, 10)};

const ImageGrid: ImageRow[] = [firstRow, secondRow, thirdRow]

export interface Props {
  image?: ImageMetadata,
  title?: string,
  subTitle?: string,
  description?: string,
  width?: number,
  height?: number
}

const {
  title, 
  subTitle, 
  description, 
  } = Astro.props;
---

<section class="relative h-screen w-full overflow-hidden">
  <div class="absolute top-0 left-0 h-full w-full inset-0 z-10">
    <ArtDisplay
      imgWidth={160}
      imgHeight={180}
      images={ImageGrid}
      speed={30}
    />
  </div>

  <div class="bg-black/50 absolute top-0 left-0 z-20 h-full w-full"/>

  <!-- Main Content -->
  <div class="relative z-30 text-white flex flex-col gap-10 max-w-7xl w-full p-10 mx-auto top-1/5">
    <div class="flex flex-col gap-4">
      <h1 class="text-5xl md:text-6xl lg:text-7xl text-shadow-lg font-bold">
        {title}
      </h1>
      <span class="text-lg md:text-xl lg:text-2xl font-light">
        {subTitle}
      </span>
      <p class="text-base lg:text-lg font-extralight">
        {description}
      </p>
    </div>
    <Button
      isOutline = {false}
      className="text-white bg-red-500 hover:bg-red-900"
      buttonText ='Show more'
    />
  </div>
</section>